{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="background-image: url(../static/images/bgd1.jpg); padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
        <div class="row" style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: 'Joti One'">PiTcH-ZoNe</span>
        </div>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="list-style-type: none;padding: 0; margin:0; float:left;">
              <li class="nav-item active">
                <a href="{{url_for('main.interview')}}" style=" font-size:12px; ">
                        
                    Interview Pitches
                </a>
              </li>
              <br>
              
              <li class="nav-item">
                <a href="{{url_for('main.pick_up_line')}}" style="font-size:12px;">
                       
                    Pick Up Lines
                </a>
              </li>
              <br>
              <li class="nav-item">
                <a href="{{url_for('main.promotion')}}" style="font-size:12px;">
                        
                    Promotion Pitches
                </a>
              </li>
              <br>
              <li class="nav-item">
                <a href="{{url_for('main.product')}}" style="font-size:12px;">
                        
                    Product Pitches
                </a>
              </li>
            </ul>
          </div>
          <br>
          <br>
        
            
        <div>
            <div class="panel style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;">
                <p style="font-family: 'Joti One'; font-size:20px; text-align:center;">Welcome to Pitches-Zone. Feel free to create new pitches,comment and vote.</p>
                
                <div style="text-align:center;">
                    <a href="{{url_for('main.new_pitch')}}">
                        <br>
                        <span >Add a new Pitch</span>
                    </a>

                </div>
            
            </div>
            
        </div>
    </hr>
        <div class="all-pitches">
            <span style="color:gainsboro;">All pitches are displayed below</span>
                <hr> 
                {{macro.displayPitches(pitches)}}
            

        </div>

    </div>


{% endblock %}